
/*
    COLOR PALETTE
    #fff
    #f1f1f1
    #222
    #666

    #181818 - primary
    #9a9999 - sec
*/

.card-img {
    /* Set a standard height so it's not collapsed while it's loading */
    min-height:250px;
}

html, body {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}

body {
    overflow-y: scroll; /* prevent jumping when scrollbar attaches/dettaches */
}

.main {
    background: #f1f1f1;
}

a {
    font-weight: bold;
    color: #181818;
}

a:hover {
    color: #9a9999;
}

h1, h2, h3, h4, h5, strong, b {
    font-weight: 700;
    line-height: 1.4;
}

h1 {
    margin-bottom: 40px;
}

p {
    margin: 0 0 10px;
    line-height: 1.5;
    color: #505050;
}

li {
    font-size: 18px;
    line-height: 1.5;
    color: #505050;
}

.btn {
    text-transform: uppercase;
    border-radius: 2px;
    line-height: 30px;
    border-width: 0;
    outline: none !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    padding: 10px 0 100px 0;
}

#qr-code {
    margin: 15px;
}





/* Metamask Install Modal */
.metamask-install-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin: 0;
    background: #f1f1f1;
}