@model CardDto

<div class="row">
    <div class="col-md-3">

        @Html.LabelFor(model => model.Name)

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        @Html.LabelFor(model => model.CurrentPrice)
        @Html.LabelFor(model => model.NextPrice)

    </div>
</div>