@{
    ViewData["Title"] = "Home Page";
}


<h2>Admin</h2>

<form asp-controller="Admin" asp-action="Redeploy" method="post" class="form-horizontal">
    <button>Redeploy</button>
</form>

@model CardDto
<form asp-controller="Admin" asp-action="CreateCard" method="post" class="form-horizontal">
    @Html.LabelFor(_ => _.name) <input asp-for="name" />
    @Html.LabelFor(_ => _.set) <input asp-for="set" />
    <button>Create Card</button>
</form>