@{
    ViewData["Title"] = "Home Page";
}


<h2>Admin</h2>

<form asp-controller="Admin" asp-action="Redeploy" method="post" class="form-horizontal">
    <button>Redeploy</button>
</form>


<hr />
<h2>Mint Cards</h2>
@model CardMintingDto
<form asp-controller="Admin" asp-action="MintCard" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div>Name: <input asp-for="Name" /></div>
    <div>
        Image:
        <input asp-for="ImageFormUploadUri" type="file" />
    </div>
    <div>Ether Price: <input asp-for="PriceWeiDecimal" value="0.1" /></div>
    <div>
        Parent Collectible:
        @Html.DropDownListFor(
            card => card.ParentCardsContractId,
            (IEnumerable<SelectListItem>)ViewData["AllCards"])
    </div>
    <div>Mining Level: <input asp-for="MiningLevel" value="1" /></div>
    <div>Mint Date: <input asp-for="LastMiningCollectedDate" value="@(DateTimeOffset.UtcNow.ToUnixTimeSeconds())" /></div>
    <div><button>Mint Card</button></div>
</form>